<div style="height: calc(100vh - 60px);">
    <!-- <div class="text-right" style="margin-bottom: 10px;" >
        <button class="btn btn-primary" (click)="addCourse()">Add</button>
    </div> -->
    <!-- <div class="text-center loader" *ngIf="selectLoading$|async">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <div>
        <ag-grid-angular
        style="width: 100%; height: calc(100vh - 150px);"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (selectionChanged)="onSelectionChanged($event)"
        (rowDoubleClicked)="onRowEdit($event)"
        (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
    </div>
</div>